# MNIST data
MNIST

# in `run.py` generated PDFs, NPZs and pts
**/*.npz
**/*.pdf
**/*.pt

# PyCache
__pycache__

# Test Jupyter NB
test_sth.ipynb

# log files
*.log

# outputs dir
outputs
multirun

# wandb
wandb

# uv
uv.lock

# Sonar
.sonar